################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/cmake-build-debug
/out/build/x64-Debug
/Cella.h
/Cella.cpp
/main.obj
/main.h
/Cella.h
/out.exe
/table.hpp
/data
/clean_data
/.gitignore
/.gitignore
/CMakeSettings.json
/test.txt
/program/x64/Debug/program.tlog
/program/x64/Debug
/x64/Debug
/program.sln
/program.vcxproj
/program.vcxproj.filters
/program.vcxproj.user
/.gitignore
/run_on_all_input.bat
/log.txt
/TextFile1.txt
/results.txt
/.gitignore
/.gitignore
